.twocheckout-curved-128{ background-image: url('../img/cards/2checkout-curved-128px.png');}
.twocheckout-straight-128{ background-image: url('../img/cards/2checkout-straight-128px.png');}
.american-express-curved-128{ background-image: url('../img/cards/american-express-curved-128px.png');}
.american-express-straight-128{ background-image: url('../img/cards/american-express-straight-128px.png');}
.cirrus-curved-128{ background-image: url('../img/cards/cirrus-curved-128px.png');}
.cirrus-straight-128{ background-image: url('../img/cards/cirrus-straight-128px.png');}
.delta-curved-128{ background-image: url('../img/cards/delta-curved-128px.png');}
.delta-straight-128{ background-image: url('../img/cards/delta-straight-128px.png');}
.direct-debit-curved-128{ background-image: url('../img/cards/direct-debit-curved-128px.png');}
.direct-debit-straight-128{ background-image: url('../img/cards/direct-debit-straight-128px.png');}
.discover-curved-128{ background-image: url('../img/cards/discover-curved-128px.png');}
.discover-straight-128{ background-image: url('../img/cards/discover-straight-128px.png');}
.ebay-curved-128{ background-image: url('../img/cards/ebay-curved-128px.png');}
.ebay-straight-128{ background-image: url('../img/cards/ebay-straight-128px.png');}
.google-checkout-curved-128{ background-image: url('../img/cards/google-checkout-curved-128px.png');}
.google-checkout-straight-128{ background-image: url('../img/cards/google-checkout-straight-128px.png');}
.maestro-curved-128{ background-image: url('../img/cards/maestro-curved-128px.png');}
.maestro-straight-128{ background-image: url('../img/cards/maestro-straight-128px.png');}
.mastercard-curved-128{ background-image: url('../img/cards/mastercard-curved-128px.png');}
.mastercard-straight-128{ background-image: url('../img/cards/mastercard-straight-128px.png');}
.moneybookers-curved-128{ background-image: url('../img/cards/moneybookers-curved-128px.png');}
.moneybookers-straight-128{ background-image: url('../img/cards/moneybookers-straight-128px.png');}
.paypal-curved-128{ background-image: url('../img/cards/paypal-curved-128px.png');}
.paypal-straight-128{ background-image: url('../img/cards/paypal-straight-128px.png');}
.sagepay-curved-128{ background-image: url('../img/cards/sagepay-curved-128px.png');}
.sagepay-straight-128{ background-image: url('../img/cards/sagepay-straight-128px.png');}
.solo-curved-128{ background-image: url('../img/cards/solo-curved-128px.png');}
.solo-straight-128{ background-image: url('../img/cards/solo-straight-128px.png');}
.switch-curved-128{ background-image: url('../img/cards/switch-curved-128px.png');}
.switch-straight-128{ background-image: url('../img/cards/switch-straight-128px.png');}
.visa-curved-128{ background-image: url('../img/cards/visa-curved-128px.png');}
.visa-electron-curved-128{ background-image: url('../img/cards/visa-electron-curved-128px.png');}
.visa-electron-straight-128{ background-image: url('../img/cards/visa-electron-straight-128px.png');}
.visa-straight-128{ background-image: url('../img/cards/visa-straight-128px.png');}
.western-union-curved-128{ background-image: url('../img/cards/western-union-curved-128px.png');}
.western-union-straight-128{ background-image: url('../img/cards/western-union-straight-128px.png');}
