.card-32{width: 51px;height:32px; display:block;border:1px solid #d2d2d2; background-repeat: no-repeat; background-position: top left;}
.card-64{width:102px;height: 64px; display:block;border:1px solid #d2d2d2;background-repeat: no-repeat; background-position: top left;}
.card-128{width : 203px;height:128px; display:block;border:1px solid #d2d2d2;background-repeat: no-repeat; background-position: top left;}
.hide-text {text-indent: 100%;white-space: nowrap;overflow: hidden;}